* {
    box-sizing: border-box;
} 

html{
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } 

.box {
    max-width: 700px;
    background-color: #FFFFFF;
    border: 10px solid #4ec5df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
  
h1{
    height: 130px;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
  }

legend{
    font-size: 20px;
}  
  
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.emphasize{
    font-weight: 700;
}

fieldset{
    border: none;
}

.button-container{
    margin: 10px;
}

img {
    max-width: 90%;
    height: auto;
  }

button {
    background-color: #4ec5df;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  
button:hover,
button:active {
    background-color: #4ec5dfc2;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
  }

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  }
  
  .popup {
    line-height: 28px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    width: 90%;
    max-width: 700px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    color: #4ec5dfc2;
    text-decoration: none;
  }
  
  .popup-gif {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

@media only screen and (max-width: 550px) {
    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    legend{
        font-size: 15px;
    }

    button{
        font-size: 15px;
        font-weight: 700;
    }

    ul{
        flex-direction: column;
    }

    label{
        font-size: 15px;
    }

  }